body, html {
  height: 100%;
  margin: 0;
}

.body {
  height: 100%;
  margin: 0;
}

.bg {
  /* The image used */
  background-image: url("img/pnw-tree-bg.jpg");

/* Full height */
height: 100vh; 

/* Center and scale the image nicely */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.title {
  position: absolute;
  left: 0;
  top: 10%;
  width: 100%;
  text-align: center;
  color: #000;
}

.title span.border {
  background-color: #777;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
  border-radius: 10px;
}

.zip-form {
  position: absolute;
  left: 0;
  top: 20%;
  width: 100%;
  text-align: center;
  color: #000;
}