body, html {
  height: 100%;
  margin: 0;
}

.wrapper {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
  background-image: url("img/pnw-tree-bg.jpg");
  grid-auto-rows: minmax(min-content, max-content);
  background-size: cover;
 
  /* Min height */
  min-height: 100vh; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }

.box {
  color: #444;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
  text-align: center;
  
  

}

.body {
  height: 100%;
  margin: 0;
}

.header {
  text-align: center;
  top: 10%;
  margin: 10px;
}

.header span {
  background-color: #777;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
  border-radius: 10px;
  display: inline-block;
}

.title {
  position: absolute;
  left: 0;
  top: 10%;
  width: 100%;
  text-align: center;
  color: #000;
  max-width: 100%;
  min-width: 0;
  margin: 10px
}

.title span.border {
  background-color: #777;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
  border-radius: 10px;
}

.zip-input {
  padding: 16px;
  text-align: center;
  /* margin-left:10%;
  margin-right:10%; */
}

.button-wrapper {
  overflow:hidden;
}

input[type=text] {
  width: 140px;
  height: 20px;
  padding: 16px 20px;
  /* margin-top: 50px;
  margin-right:20px;
  margin-left:30%; */
  border: 1px solid #ccc;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
}



.get-location:hover {
  cursor: pointer;
}

.button {
  border: none;
  color: white;
  padding: 5px 10px 25px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left:0px;
  transition-duration: 0.4s;
  cursor: pointer;
  overflow:hidden;
  border-radius: 4px;
  height: 20px;
  width: 150px;

  background-color:#e7e7e7 ;
  color: black;
  border: 2px solid #e7e7e7;
}

.button:hover {background-color:  #779199;}

.phase-image {
  padding-top: 25px;
}


* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 60px; /* Should be removed. Only for demonstration */
}

.row-wrapper {
  /* max-width: 600px; */
  text-align: center;
  display: inline-block
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    margin-top: 20px;
  }
}